---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Slaieet">
  <main class="w-full max-w-[800px]">
    <Intro />
    <Projects />
  </main>
</Layout>