---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Slaieet">
  
  <main class="max-w-[800px]">
    <Intro />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <footer class="absolute bottom-5 max-w-[800px] px-[6%]">
    <p class="text-center text-[0.8rem] opacity-80">Estilo basado en "Portfolio Design" por Ibrahim Memon, disponible en <a href="https://www.figma.com/community/file/1182197835889504018" class="text-secondary" target="_blank">Figma</a>, bajo licencia CC BY 4.0.</p>
  </footer>
  
</Layout>