---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Slaieet">
  <div class="w-full max-w-[800px]">
    <main>
      <Intro />
      <Projects />
      <Skills />
    </main>
    <Contact /> <!-- Footer -->
  </div>
</Layout>