---

---

<footer class="margin-top-default">
  <h2 class="text-2xl font-bold mb-10">Contacto</h2>

  <article>
    <p class="mb-10" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora necessitatibus possimus ipsam, adipisci beatae nesciunt mollitia vero alias asperiores ducimus nobis iure, consequatur magni, rerum debitis minus? Amet, repellendus cupiditate.</p>

    <a href="mailto:micorreo@gmail.com" class="block">micorreo@gmail.com</a>
  </article>
</footer>