---

---

<article>
  <section class="flex items-center gap-10 mb-32">
    <div class="h-40 relative icon-me flex justify-center items-center flex-shrink-0">
      <img 
      src="/images/me.png" alt="Imagen representadome"
      class="h-full"
      >
    </div>
    <div>
      <h1 class="font-bold text-5xl mb-5">Angel Jasso</h1>
      <p class="opacity-90 ">Desarrollador web Front End con experiencia en uso de herramientas como React y Vue js</p>
    </div>
  </section>

  <section>
    <strong class="block text-xl mb-6 font-bold">I'm a software engineer</strong>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia sed voluptatem voluptatum repellendus similique, provident, ipsa, itaque modi quod rem esse est iste excepturi porro corrupti nostrum quo vero.</p>
  </section>
</article>