---
  import CardProject from "./subcomponents/CardProject.astro"
---

<section class="margin-top-default">
  <h2 class="block text-4xl mb-20 font-bold">Proyectos</h2>
  <ul class="flex flex-col gap-32">
    <li>
      <CardProject />
    </li>
    <li>
      <CardProject reverse />
    </li>
    <li>
      <CardProject />
    </li>
  </ul>
</section>